*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

#grid_wrapper_meny{
    display: grid;
    height: 100vh;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 80px 800px minmax(100px 1fr)
    grid-template-areas:
    "mhe mhe mhe"
    "mna mna mna"
    "ms1 ms2 ms3"
    "mfo mfo mfo";

}

#meny_header{
    grid-area: mhe;
    background-color: red;
}

#meny_nav{
    grid-area: mna;
    background-color: orange;
}

#meny_s1{
    grid-area: ms1;
    background-color: green;
}

#meny_s2{
    grid-area: ms2;
    background-color: aqua;
    
}

#meny_s3{
    grid-area: ms3;
    background-color: blueviolet;
    
}

#meny_footer{
    grid-area: mfo;
    background-color: yellowgreen;
}



