*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;

}
/*
#grid_wrapper_meny {
    display: grid;
    height: 100vh;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 800px 100px;
    grid-template-areas:
    "mhe mhe na"
    "ms1 ms2 ms3"
    "mfo mfo mfo";
}

#body_meny{
    background: url(../img/raquel-raclette-MYjFOiVWWT8-unsplash\ \(1\).jpg);
}

#meny_header{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: mhe;
    background-color: rgb(255, 0, 0, 0.5);
}

#meny_rubrik{
    font-size: 4.5rem;
    font-family: 'Rubik Distressed', cursive;
}

nav{
    display: flex;
    justify-content: flex-end;
    grid-area: na;
    background-color: rgb(255, 166, 0, 0.5);
    
    
}

a.nav_knappar{
    font-size: 1.5rem;
    padding: 7px 7px 7px 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    text-decoration: none;
    color: white;
    
    text-align: center;
    border-radius: 10px;

    
}

.nav_knappar:hover{
    background: rgb(0, 0, 0, 0.5);
    
    
    
}

#meny_s1{
    grid-area: ms1;
    background-color: rgb(0, 128, 0, 0.5);
}

#meny_s2{
    grid-area: ms2;
    background-color: rgb(8, 247, 247, 0.5);
    
}

#meny_s3{
    display: flex;
    flex-direction: column;
    grid-area: ms3;
    background-color: rgb(138, 43, 226, 0.5);
    justify-content: center;
    padding: 20px;
    
}

#logga_bild{
    border-radius: 500px;
    border: 5px solid black;
    height: 300px;
    width: auto;
    margin-top: 50px;
}

#meny_valkommen_rubrik{
    margin-top: 50px;
    font-size: 2rem;
    font-family: 'Rubik Glitch', cursive;
}

#meny_valkommen_text{
    font-size: 1.5rem;
}

.meny_valkommen{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

#meny_footer{
    display: flex;
    grid-area: mfo;
    background-color: rgb(154, 205, 50, 0.5);
    justify-content: space-evenly;
    padding-top: 10px;
}

#grid_wrapper_djur{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 80px 450px 450px;
    grid-template-areas:
    "mhe mhe na"
    "co co co"
    "co co co";
}
#container_djur{
    grid-area: co;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
    
.card{
    background-color: red;
    height: 300px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.img {
    border-radius: 50%;
}
*/
body {
    margin: 1vh;
    background: url(../img/misc/ben-mcleod-y1IW39AuIbc-unsplash.jpg);
    background-size: cover;
    
  }
  
.sidebar {
    grid-area: sidebar;
}
  
.sidebar2 {
    grid-area: sidebar2;
}
  
.content {
    grid-area: content;
}
  
.header {
  
    grid-area: header;
    display: flex;
    flex-direction: row;
  
}
  
.footer {
    grid-area: footer;
    display: flex;
}
  
.footer_text{
  
    flex: auto;
    padding: 1vh 5vw;
  
}
  
.nav {
  
    grid-area: nav;
    display: flex;
    flex-direction: column;
    margin-left: 0.5vw;
  
}

a{
    color: white;
}
.nav_item{
    display: flex;
    padding: 1vh .5vw;
    border-radius: .25vw;
    background-color: rgb(86, 12, 12);
    justify-content: center;
    
  
}
  
a:visited, a:link, a:active {
  
    color: white;
    text-decoration: none;
    margin: 1vh .5vw;
    background-color: rgb(86, 12, 12);
  
}
  
a:hover {
  
    background: #F2AF29;
  
}
  
.wrapper {
  
    
    color: #444;
  
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 10vw auto;
  
    grid-template-areas:
    "header  header  header"
    "nav content content"
    "nav content content"
    "footer footer footer";
  
}
  
  
.homepage{
  
    background-image: url("../img/animals/panda.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
  
}

#welcome_text{
    width: 800px;
    border-radius: 50px;
    padding: 0 20px 0 50px;
    
}
#margin_top_welcome{
    margin-top: 30px;
}
  
  
  
#flexbox{
  
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  
}
  
#site_title{
  
margin: 2vh 1vw;
  
}
  
#site-text{
  
  
  
}
  
.animal-box{
    height: 300px;
    background-color: rgb(102, 9, 9);
    display: flex;
    flex-direction: row;
    padding: 1vh 1vw;
    border-radius: 20px;
  
}

.animal_text{
    font-size: small;
    width: 150px;
}
  
.animal-text-box{
    margin-left: 1vw;
    margin-top: 1vh;
  
}
  
.animal-img{
  
    height: 200px;
    border: 5px solid #5C4742;
    border-radius: 20px;
  
}

.box {
    background-color: rgba(91, 5, 5, 0.5);
    color: #fff; 
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
}

.no_background{
    background-color: rgba(91, 5, 5, 0);
}
  
.header,
.footer {
    background-color: rgba(93, 9, 9, 0.7);
    border-radius: 25px;
}
  
.sidebar2 {
    background-color: #ccc;
    color: #444;
}
  
#header_logo{
  
    border-radius: 500px;
    border: 3px solid black;
    height: 100px;
    width: auto;
    margin: 2vh 0;
    margin-left: 7.5vw;
  
}
  
#header_title{
  
    display: flex;
    align-items: center;
    margin-left:2vw;
  
}
  
.food-box{

    display: grid;
  
    grid-template-columns: 19vh auto 10vw;
    grid-gap: 10px;
    grid-template-areas:
    "img  title       price"
    "img food-content price"
    ;
  
    background: #551007;
    border-radius: 1vh;
    margin: 4vh;
    justify-content: space-evenly;
  
  }
  
  .food-text-box{
  
    display: flex;
    flex-direction: row;
    text-align: right;
  
  }
  
  .food-img-cont{
  
    grid-area: img;
  
  }
  
  .food-img{
  
    width: 15vh;
    height: 15vh;
    margin:2vh;
    border-radius:8vh;
  
  }
  
  .name-of-food{
  
    grid-area: title;
    padding: 4vh 0 0 4vw;
    margin: 0;
  
  }
  
  .food-content{
  
    grid-area: food-content;
    padding: 0 0 0 2vw;
    margin: 0;
    font-weight: 100;
    font-size: 1.5vh;
    
  
  }
  
  .price{
  
    background-color: #f9d794;
    grid-area: price;
    padding: 2vw;
    margin: auto;
    border-radius: 4vw;
    border: 2px solid black;
    color: black;
  }

  .food-img:active{ 
    height: 200px;
    width: auto;
    /*Kanske*/
  }